*{
    margin: 0;
    padding: 0;

}
.wrapper{
    width: 100%;
    height: 650px;
    position: fixed;
    top:0;
    left: 0;
    background-image: url('img/bg.jpg');
    background-size: 100% 100%;
}
.btn{
    height: 140px;
    width: 170px;
    position: absolute;
    left:50px;
    background-image: url('img/startGame.png');
    background-size: 100% 100%;
    cursor: pointer;


}
.box{
    height: 500px;
    width: 500px;
    transform: perspective(800px) rotateX(45deg);
    margin: 20px auto;
    border-top: 1px solid #b25f27;
    border-right: 1px solid #b25f27;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
    display: none;


}
.flagBox{
    position: absolute;
    top: 50px;
    left: 50%;
    width: 200px;
    height: 50px;
    margin-left: -100px;
    color: #333;
    font-size: 20px;
    font-weight: bolder;
    display: none;
}
.alertBox{
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0%;
    background-color: rgba(0, 0, 0, 0.2);

}
.alertImg{
    width: 300px;
    height: 300px;
    /* background-image: url('img/success.gif'); */
    background-size: 100% 100%;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    border-radius: 20px;
    
}
.close{
    position: absolute;
    right: 0;
    top: 0;
    height: 40px;
    width: 40px;
    cursor: pointer;
    background-image: url('img/closeBtn.png');
    background-size: 100% 100%;
}
.block{
    width: 49px;
    height: 49px;
    border-right: 1px solid #b25f27;
    border-bottom: 1px solid #b25f27;
    box-shadow: 0 0 4px #333 inset;
    background-image: url('img/caodi.jpg');
    float: left;
}
.show{
    background-image: url('img/dilei.png');
    background-size: 100% 100%;
}
.num{
    background: #ecd0a1;
    font-size: 18px;
    font-weight: bolder;
    line-height: 49px;
    text-align: center;
}
.flag{
    background-image: url('img/hongqi.png');
    background-size: 100% 100%;
}